.navbar {
  display: flex;
  padding: 1rem;
  position: relative;
  .brand {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    text-align: center;
    justify-content: center;
    &__name {
      padding-left: 1rem;
      color: #ff5d5d;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    .brand {
      &__name {
        display: none;
      }
    }
  }
}